@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gold-999: #ffa300; /* 실험용 변수 */

  /* colors */
  --color-point: #6d6afe;
  --color-gradient: #6ae3f3;
  --color-black: #111322;
  --color-system: #1fecc6;
  --color-error: #ff3235;
  --color-example: #dddfff;

  --color-gray-100: #3e3e43;
  --color-gray-200: #9fa6b2;
  --color-gray-300: #ccd5e3;
  --color-gray-400: #e7effb;
  --color-gray-500: #f0f6ff;

  --spacing: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }
}

@layer utilities {
  .font-regular {
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
  }

  .font-medium {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
  }

  .font-bold {
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Helvetica, sans-serif;
}
